.idea/
__pycache__/
venv/
input/ClassificacaoAnimal.csv
input/DadosProcessoProdutivo.csv
input/ProcessoProdutivo.csv
input/PerguntasClassificam.csv
input/PerguntasNaoClassificam.csv
input/PraticaRecuperacaoPastagem.csv
input/CadastroEstabelecimento.csv
input/DadosCompleto.csv
input/DadosCompletoTransformado.csv
input/DadosAbate.csv