.idea/
__pycache__/
venv/
input/ClassificacaoAnimal.csv
input/DadosProcessoProdutivo.csv
input/ProcessoProdutivo.csv
input/PerguntasClassificam.csv
input/PerguntasNaoClassificam.csv
input/PraticaRecuperacaoPastagem.csv
input/CadastroEstabelecimento.csv
input/DadosCompleto.csv
input/DadosCompletoTransformado.csv
input/DadosCompletoTransformado2.csv
input/DadosCompletoTransformadoML.csv
input/DadosAbate.csv
input/campos_precoce_dados_teste.csv
input/DadosCompletoUnderBalanceadoML.csv
input/DadosCompletoTransformadoMLBalanceado.csv
input/DadosCompletoTransformadoMLTeste.csv
input/dados.csv
input/DadosCompletoTransformadoMLBalanceadoX.csv
input/DadosCompletoTransformadoMLBalanceadoY.csv
input/DadosCompletoTransformadoMLBalanceadoTeste.csv
input/DadosCompletoTransformadoMLBalanceadoTreino.csv
input/DadosCompletoTransformadoMLBalanceadoCompleto.csv
*.arff
